div {
  width: 25rem;
  max-width: 90%;
}

button {
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

button i {
  color: var(--green);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

i:hover {
  background: var(--semiopaque);
  border-radius: 0.2rem;
}

li {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  list-style-type: none;
  align-items: center;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}
li:hover {
  background-color: var(--semiopaque);
}
div[id*="todos-list"] {
  overflow-y: auto;
  height: 15rem;
}
